
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(192, 177, 177);
    text-align: center;
    margin: 20px auto 0px auto;
    padding: 15px;
    
}

a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    font-family: sans-serif;
}